:root
{
    --unclightblue: rgb(186,232,255);
    --uncblue: rgb(1,45,91);
    --uncgold: rgb(254,189,54);
    --uncbluebird: rgb(0,125,186);
    --uncdarkgray: rgb(51,51,51);
    color: var(--uncblue);
    background-color: var(--unclightblue);
}

img
{
    margin: 15px;
}

h1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(14px + 4vw);
    color: var(--uncbluebird);
    text-align: center;
}

h2
{
    font-family:'Times New Roman', Times, serif;
    font-size: calc(10px + 2vw);
    color: var(--uncdarkgray);
}

h3
{
    font-family:'Times New Roman', Times, serif;
    font-size: calc(10px + 1.5vw);
    color: var(--uncdarkgray);
}

a
{
    color: var(--uncbluebird);
}

a:hover
{
    color: var(--uncgold);
}

.centeredpic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

footer
{
    display: block;
    text-align: center;
    margin-top: 90px;
}

.homepagecontent
{
    list-style: none;
    padding-left: 0px;
    text-align: center;
    font-size: calc(10px + 1.5vw)
}
