:root
{
    --unclightblue: rgb(186,232,255);
    --uncblue: rgb(1,45,91);
    --uncgold: rgb(254,189,54);
    --uncbluebird: rgb(0,125,186);
    --uncdarkgray: rgb(51,51,51);
    --unclightgray: rgb(235,235,235);
    color: var(--uncblue);
    background-color: var(--unclightgray);
}

nav
{
    text-align: center
}

nav ul
{
    list-style: none;
    padding-left: 0px;
}

h1
{
    color: var(--uncgold);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(14px + 4vw);
}

h2
{
    color: var(--uncdarkgray);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(10px + 2vw);
}

section
{
    border: solid var(--uncbluebird) 4px;
    margin: 3px;
    margin-top: 40px;
    padding: 10px;
}

a:hover 
{
    color: var(--uncgold);
}

footer
{
    display: block;
    text-align: center;
    margin-top: 90px;
}